
.formulario{
    border: 1px solid rgb(205, 203, 203);
    border-radius: 3px; 
    margin: 2% 20%;
    padding: 4%;
}
p{
    font-size: 20px;
}
header {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    overflow: hidden; 
    padding: 15px;         
}
.headerLink {
    color: black;
    padding-right: 90px;
    text-decoration: none;
    /*margin-right: 150px;*/
}
input[type=text] {
    font-size: 11.5px;
}
input[type=submit] {  
    background-color: #fcebeb;
    border-radius: 3px;
    color: rgb(156, 154, 154);
    margin: 8px 0;
    padding: 14px 20px;
    width: 100%;
}
input[type=submit]:hover{
    background-color: #f9efef;
}
label{
    margin-top: 20px;
}
.logo{
    align-items: center;
    display: flex;
}
.logo img {
    height: 50px;
}

nav {
    display: flex;
    padding-right:200px;
}
nav a {
    font-weight: 6000;
    padding-right: 10px;
}

nav a:hover{
    color: gold;
}
#message{
    font-size: 11.5px;
}

@media (max-width : 700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px 0px 30px;
    }
}

@media (max-width: 700px) /*Dispositivos Moviles*/
{
    header{
        flex-direction: column;
    }

    .perfumesContainer{
        grid-template-columns: repeat(2,1fr);
    }

}

    
 @media (max-width : 1024px) /*Pantallas pequeñas o laptops*/
 {
     header{
         flex-direction: column;
     }

    nav a{
        padding: 3px;

    }
    .perfumesContainer{
        grid-template-columns: repeat(3,1fr);
    }

    nav{
        padding-right: 10px;
    }

    .headerLink
    {
        padding-right: 10px;
    }
 }

 @media (max-width: 1200px) /*Monitores PC*/
{

}