header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    min-height: 90px;
    align-items: center;
    padding: 15px;
    overflow: hidden;      
}

.logo img{
    height: 50px;
}


.logo{
    display: flex;
    align-items: center;
    
}

nav a{
    font-weight: 6000;
    padding-right: 10px;
}

nav a:hover{
    color: #FDD1D1;
}

.headerLink{
    text-decoration: none;
    color: black;
    padding-right: 90px;
    
    /*margin-right: 150px;*/
}

nav{
    display: flex;
    padding-right:200px;
}



@media (max-width: 700px) /*Dispositivos Moviles*/
{
    header{
        flex-direction: column;
    }

    .perfumesContainer{
        grid-template-columns: repeat(2,1fr);
    }
<<<<<<< HEAD

}

    
 @media (max-width : 1024px) /*Pantallas pequeñas o laptops*/
 {
     header{
         flex-direction: column;
     }

    nav a{
        padding: 3px;

    }
    .perfumesContainer{
        grid-template-columns: repeat(3,1fr);
    }

    nav{
        padding-right: 10px;
    }

    .headerLink
    {
        padding-right: 10px;
    }
 }

 @media (max-width: 1200px) /*Monitores PC*/
{

}
=======
}
>>>>>>> 68b7043eeaab9e720ba14fa9e6a69506613cd53f
