body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height:0;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    min-height: 90px;
    align-items: center;
    padding: 15px;
    overflow: hidden;      
}

.logo img{
    height: 50px;
}


.logo{
    display: flex;
    align-items: center;
    
}

nav a{
    font-weight: 6000;
    padding-right: 10px;
}

nav a:hover{
    color: #FDD1D1;
}

.headerLink{
    text-decoration: none;
    color: black;
    padding-right: 90px;
    
    /*margin-right: 150px;*/
}

nav{
    display: flex;
    
}
.container{
    left: 89.5%;
    transform: translate(-.7%, -.7%);
    
}
.container input{
    outline: none;
    box-sizing: border-box;
    height: 30px;
    width: 0;
    padding: 0 10px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    transition: all .7s ease;
}
::placeholder{     
    color: grey;
}

.btn{
    position: fixed;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #FDD1D1;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.btn i{
    font-size: 25px;
    color: aliceblue;
    line-height: 80px;
    transition: all .7 ease;
}
.container:hover input{
    width: 350px;
}
.container:hover i{
    transform:rotate(-360deg);
}
.btn:hover{
    background: #FDD1D1;
}

.box{
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 2px 2px 5px gray;
}

.box img{
    width: 70%;
    padding-top: 10px;
}

.perfumesContainer{
    width: 90%;
    margin: 0px 20px 0px 30px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#fondoCabecera{
    display: flex;
    width: 100%;
    height: 550px;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px;
    justify-content: center;
    

}
@font-face {
    font-family: "Marcellus";
    src: url(../fonts/Marcellus-Regular.ttf);
}
#fondoCabecera #cabeceraTitulo{
    
    font-family: "Marcellus";
    white-space: nowrap;
    margin-top: 200px;
    /*margin-left: 29%;
    margin-top: 15%;*/
    
}
#fondoCabecera #wsp{
    background-color: #f8c9c9;
    margin-left: 40%;
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    color: black;

}

.ellas__button{
  
    text-align: center;
    padding-bottom: 15px;
}
.box:hover{
    border: solid #f8cbdb 2px;
}

.marca{
    font-weight: bold;
}

@media (max-width: 700px) /*Dispositivos Moviles*/
{
    header{
        flex-direction: column;
    }

    .perfumesContainer{
        grid-template-columns: repeat(2,1fr);
    }

}

    
 @media (max-width : 1024px) /*Pantallas pequeñas o laptops*/
 {
     header{
         flex-direction: column;
     }

    nav a{
        padding: 3px;

    }
    .perfumesContainer{
        grid-template-columns: repeat(3,1fr);
    }

    nav{
        padding-right: 10px;
    }

    .headerLink
    {
        padding-right: 10px;
    }
 }


.ellas__nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ellas__descripcion{
    text-align: center;
    padding: 15px;
    color: rgb(53, 53, 53);
}

.enlace{
    background: #f8cbdb;
    padding: 10px;
    
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

/* Footer */

footer {
    width: 100%;
    background-color: #f8f5f5;
    border: solid 1px;
    /*margin: 8px 0px 16px 0px;*/
}

.footer-row {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; 
}

.footer-row .row {
    margin: 24px 80px 24px 80px;
}   

.footer-row .row h2 {
    color: #5B4A4A;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-row .row h3 {
    color: #736060;
    font-size: 14px;
    margin-top: 12px;
}

.footer-row .row p {
    color: #B8A2A2;
    font-size: 12px;
    margin: 2px;
}

.footer-row .row .red-social a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #9A8585;
    margin-right: 8px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: solid 1px;
    transition: all 300ms ease;
}

.footer-row .row .red-social a:hover {
    color: #f8c9c9;
}

.row4{
    display: flex;
    justify-content: center;
    background-color: #9A8585;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
}

#personas ul {
    color: #B8A2A2;
    list-style: none; 
    text-align: left;
    font-size: 12px;
    padding: 0; 
}
@media screen and (max-width:800px) {
    .footer-row {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px; 
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> c7e097aeba0eb947b76318a70e7dea4e979af6de

    .perfumesContainer{
        grid-template-columns: repeat(1,1fr);
    }

    nav{
        padding: 3px;
    }

    header nav{
        margin-left: 70px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 9f25404f018052f042a381fc244766944bf26e2e
=======
>>>>>>> c7e097aeba0eb947b76318a70e7dea4e979af6de
=======

>>>>>>> fd9b8a2d7dbc061f318959a2ff09dd9f9e6309b0
}
