*{
    font-family: Arimo;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height:0;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    min-height: 90px;
    align-items: center;
    padding: 15px;
    overflow: hidden;      
}

.logo img{
    height: 50px;
}


.logo{
    display: flex;
    align-items: center;
    
}

nav a{
    font-weight: 6000;
    padding-right: 10px;
}

nav a:hover{
    color: #FDD1D1;
}

.headerLink{
    text-decoration: none;
    color: black;
    padding-right: 90px;
    
}

nav{
    display: flex;
    
}
.container{
    left: 89.5%;
    transform: translate(-.7%, -.7%);
    
}


.box{
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 2px 2px 5px gray;
}

.box img{
    width: 70%;
    padding-top: 10px;
}

.perfumesContainer{
    width: 90%;
    margin: 0px 20px 0px 30px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#fondoCabecera{
    display: flex;
    width: 100%;
    height: 550px;
    
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px;
    justify-content: center;
    

}
@font-face {
    font-family: "Arimo";
    src: url(../fonts/Arimo-Regular.ttf);
}
#fondoCabecera #cabeceraTitulo{
    
    font-family: "Marcellus";
    white-space: nowrap;
    margin-top: 200px;
  
    
}
#fondoCabecera #wsp{

    background-color: #f8c9c9a6;
    margin-left: 40%;
    padding: 10px;
    border: 100px;
    text-decoration: none;
    color: black;

}

.ellas__button{
    border: #5B4A4A 1px solid;
    text-align: center;
    padding: 20px;
    margin: 40px;
}
.box:hover{
    border: solid #f8cbdb 2px;
}

.marca{
    font-weight: bold;
}

.ellas__nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ellas__descripcion{
    text-align: center;
    padding: 15px;
    color: rgb(53, 53, 53);
}
/* estilo al icono del boton */
.enlace{
    
    padding: 10px 20px;
    text-decoration: none;
    color: black;
   
}

.enlace span{
    margin-right: 10px;
   
}
.container {
    max-width: 1200px;
    margin: 0px auto;
}

/* Footer */

footer {
    width: 100%;
    background-color: #f8f5f5;
    border: solid 1px;
    
}

.footer-row {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; 
}

.footer-row .row {
    margin: 24px 80px 24px 80px;
}   

.footer-row .row h2 {
    color: #5B4A4A;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-row .row h3 {
    color: #736060;
    font-size: 14px;
    margin-top: 12px;
}

.footer-row .row p {
    color: #B8A2A2;
    font-size: 12px;
    margin: 2px;
}

.footer-row .row .red-social a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #9A8585;
    margin-right: 8px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: solid 1px;
    transition: all 300ms ease;
}

.footer-row .row .red-social a:hover {
    color: #f8c9c9;
}

.row4{
    display: flex;
    justify-content: center;
    background-color: #9A8585;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
}

#personas ul {
    color: #B8A2A2;
    list-style: none; 
    text-align: left;
    font-size: 12px;
    padding: 0; 
}


#slider{
    display: grid;
    height: 550px;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

#imagen{
    grid-column: 1/4;
    grid-row: 1/4;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px;
    justify-content: center;
}

.flecha.der
{
    display: flex;
    grid-column: 1/1;
    grid-row: 2/2;
    justify-content: left;
    padding: 5%;
    

}

.flecha.izq{
    grid-column: 3/3;
    grid-row: 2/2;
    justify-content: right;
    display: flex;
    padding: 5%;
}

.flecha.der button
{
    transition-duration: 0.4s;
    background-color: transparent;
    border: none;
}

.flecha.der button:hover
{
    transition-duration: 0.4s;
    background-color: #a49f9f; 
    color: white;
}

.flecha.izq button
{
    transition-duration: 0.4s;
    background-color: transparent;
    border: none;
}

.flecha.izq button:hover
{
    transition-duration: 0.4s;
    background-color: #a49f9f; 
    color: white;
}
@media screen and (max-width:800px) {
    .footer-row {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px; 
    }

    .perfumesContainer{
        grid-template-columns: repeat(3,1fr);
    }

    nav{
        padding: 3px;
    }

    header nav{
        margin-left: 70px;
    }
    header{
        flex-direction: column;
    }


}

@media screen and (max-width: 700px) 
{
    
    .perfumesContainer{
        grid-template-columns: repeat(1,1fr);
    }

}

    
 @media (max-width : 1024px) 
 {
    

    nav a{
        padding: 3px;

    }

    nav{
        padding-right: 10px;
    }

    

    
 }


