header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    min-height: 90px;
    align-items: center;
    padding: 15px;
    overflow: hidden;      
}

.logo img{
    height: 50px;
}


.logo{
    display: flex;
    align-items: center;
    
}

nav a{
    font-weight: 6000;
    padding-right: 10px;
}

nav a:hover{
    color: #FDD1D1;
}

.headerLink{
    text-decoration: none;
    color: black;
    padding-right: 90px;
    
    
}

nav{
    display: flex;
    
}
.pregunta{
   
    border: solid gray 1px;
}
.pregunta h1{
    background-color: #fdf9f9;
    border-bottom: 2px solid #a19a9a;
    border-color: #a19a9a;
    color: #534f4f;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.pregunta h2{
    
    text-align: left;
    padding-left: 20px;
    margin: 50px 10px;
}
.box p{
   margin: 40px;
   background-color: #faebeb;
}

@media (max-width: 700px) /*Dispositivos Moviles*/
{
    header{
        flex-direction: column;
    }

    .perfumesContainer{
        grid-template-columns: repeat(2,1fr);
    }

}

    
 @media (max-width : 1024px) /*Pantallas pequeñas o laptops*/
 {
     header{
         flex-direction: column;
     }

    nav a{
        padding: 3px;

    }
    .perfumesContainer{
        grid-template-columns: repeat(3,1fr);
    }

    nav{
        padding-right: 10px;
    }

    .headerLink
    {
        padding-right: 10px;
    }
 }

 @media (max-width: 1200px) /*Monitores PC*/
{

}

/* Footer */

<<<<<<< HEAD
<<<<<<< HEAD

.container {
    max-width: 1200px;
    margin: 0px auto;
}

footer {
=======
footer {
    width: 100%;
>>>>>>> 9b120285092d5f984dfa39ae91232e372967e45d
    background-color: #f8f5f5;
    border: solid 1px;
=======
footer {
    width: 100%;
    background-color: #f8f5f5;
    border: solid 1px;
    margin: 8px 0px 16px 0px;
>>>>>>> ec5982a0f3aa7ddfeab62e56c00fc9b3a2a0d0ab
}

.footer-row {
    width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    margin: 24px 80px 24px 80px;
}   

h2 {
    color: #5B4A4A;
    font-size: 20px;
}

h3 {
    color: #736060;
    font-size: 14px;
    margin: 4px;
}

footer p {
=======
=======
>>>>>>> ec5982a0f3aa7ddfeab62e56c00fc9b3a2a0d0ab
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; 
}

.footer-row .row {
    margin: 24px 80px 24px 80px;
}   

.footer-row .row h2 {
    color: #5B4A4A;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-row .row h3 {
    color: #736060;
    font-size: 14px;
    margin-top: 12px;
}

.footer-row .row p {
<<<<<<< HEAD
>>>>>>> 9b120285092d5f984dfa39ae91232e372967e45d
=======
>>>>>>> ec5982a0f3aa7ddfeab62e56c00fc9b3a2a0d0ab
    color: #B8A2A2;
    font-size: 12px;
    margin: 2px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.footerTexto {
    list-style: none;
}

.red-social {
    font-size: 48px;
    text-decoration: none;
    color: #9A8585;
    display: inline-block;
    margin: 16px;
    text-align: center;

=======
.footer-row .row .red-social a {
    display: inline-block;
    text-decoration: none;
=======
.footer-row .row .red-social a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
>>>>>>> ec5982a0f3aa7ddfeab62e56c00fc9b3a2a0d0ab
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #9A8585;
    margin-right: 8px;
    text-align: center;
<<<<<<< HEAD
>>>>>>> 9b120285092d5f984dfa39ae91232e372967e45d
=======
    background-color: #FFFFFF;
    border-radius: 24px;
    border: solid 1px;
    transition: all 300ms ease;
}

.footer-row .row .red-social a:hover {
    color: #f8c9c9;
>>>>>>> ec5982a0f3aa7ddfeab62e56c00fc9b3a2a0d0ab
}

.row4{
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    padding: 16px;
    color: #443838;
    font-size: 14px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9b120285092d5f984dfa39ae91232e372967e45d
=======
    background-color: #9A8585;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
}

@media screen and (max-width:800px) {
    .footer-row {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px; 
    }
}
>>>>>>> ec5982a0f3aa7ddfeab62e56c00fc9b3a2a0d0ab
